
	  body{
			font-family:"Open Sans"; 
			font-size: 0.9em;
			line-height: 1.8;
			padding:0;
			margin:0;
			background:#eee;
    }
    .content {
			top: 0px;
      left: 0px;
      position: relative;
      /* width: calc(100% - 2px); */
      width: 100%; 
      height: calc(100% - 20px);
      /* border: 3px solid green; */
			/* padding: 9px 0; */
      background-color: slategray;
      overflow-y:auto; 
      padding-right:9px;
      /* padding-bottom: 100px; */
  }
		.logo img{
			width:20px;
			height: 15px;
      /* margin:0 0 -10px 0px; */
      padding: 0px;
      /* background-color: #ccc */
		}
		.sidebar {
			position: fixed;
			top: 0px;
			left: 0;
			width: 50px;
			height: 100%;
			padding: 0px 0;
			background-color:#184775;
    }
    .sidebar-menu {
    margin:0; padding-top: 0px;
    list-style: none;
    align-content: center;
  }
    .sidebar .sidebar-menu a {
        display: block;
        text-align: center;
        padding: 10px;
        color: #ccc;
        font-size: 12px;
    }

    .sidebar .sidebar-menu a .glyphicon {
      color:#666;
      font-size:24px;
      margin-left: 0px;
    }

    .sidebar .sidebar-menu a:hover .glyphicon {
      color: white;
    }

    .sidebar li.active > a .glyphicon {
      color:white;
    }

    .sidebar-list-content {
			/* position: fixed; */
			top: 0;
			left: 0px;
			width: 100%;
			height: 100%;
			/* padding: 16px 0; */
			background-color:#2D2D30;
    }
    .sidebar-list-content-header {
      background-color: rgb(8, 8, 8);
      padding-left: 5px; 
      padding-top: 5px;
      width: 100%;
      height: 25px;
      color: white;
      font-weight: bold;
      text-align: left;
      font-size: 10px;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    }
    
    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 20px;
      background-color:#505050;
      z-index: 8;
      color: aliceblue;
    }
    
    .custom {
      width: 80px;
  }

  x-doctabs {
    --open-button-width: 0;
    --open-button-height: 0;
    --open-button-margin: 0;
  }


  .panes-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.left-pane {
    position: relative;
    top: 0px;
    width: 18%;
    background: #ccc;
    left: 50px;
    /* border:  3px solid green; */
    height: calc(100% - 20px);
}

.panes-separator {
    width: 5px;
    background: rgb(61, 61, 61);
    position: relative;
    cursor: col-resize;
}

.right-pane {
    flex: auto;
    background: #eee;
}

.panes-container,
.panes-separator,
.right-pane {
    margin: 0;
    padding: 0;
    height: 100%;
}

 

  