
	  body{
			font-family:"Open Sans"; 
			font-size: 0.9em;
			line-height: 1.8;
			padding:0;
			margin:0;
			background:#eee;
    }
    .content {
			top: 0px;
      left: 0px;
      position: relative;
      /* width: calc(100% - 2px); */
      width: 100%; 
      height: calc(100% - 20px);
      /* border: 3px solid green; */
			/* padding: 9px 0; */
      background-color: slategray;
      overflow-y:auto; 
      padding-right:9px;
      /* padding-bottom: 100px; */
  }
		.logo img{
			width:20px;
			height: 15px;
      /* margin:0 0 -10px 0px; */
      padding: 0px;
      /* background-color: #ccc */
		}
		.sidebar {
      /* position: fixed; */
      display: flex;
			top: 0px;
			left: 0;
			width: 50px;
			height: 100%;
			padding: 0px 0;
			background-color:#184775;
    }
    .sidebar-menu {
      margin:0; padding-top: 0px;
      list-style: none;
      align-content: center;
    }
    .sidebar .sidebar-menu a {
        display: block;
        text-align: center;
        padding: 10px;
        color: #ccc;
        font-size: 12px;
    }

    .sidebar .sidebar-menu a .glyphicon {
      color:#666;
      font-size:24px;
      margin-left: 0px;
    }

    .sidebar .sidebar-menu a:hover .glyphicon {
      color: white;
    }

    .sidebar li.active > a .glyphicon {
      color:white;
    }

    .sidebar-list-content {
			position: relative;
			/* top: 0; */
			/* left: 50px; */
			width: 100%;
			height: 100%;
			/* padding: 16px 0; */
			background-color:rgb(228, 80, 54);
    }
    .sidebar-list-content-header {
      background-color: rgb(8, 8, 8);
      position: fixed;
      left: 50px;
        /* padding: 0px; */
      /* width: calc(100% - 20px); */
      width: 100%;
      height: 20px;
      color: white;
      font-weight: bold;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    }
    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 20px;
      background-color:#505050;
      z-index: 8;
      color: aliceblue;
    }

  x-doctabs {
    --open-button-width: 0;
    --open-button-height: 0;
    --open-button-margin: 0;
  }

.panes-container {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.left-pane {
    position: relative;
    width: 18%;
    background: #ccc;
    border:  3px solid green; 
    height: calc(100% - 20px);
    display: flex;
}

.panes-separator {
    width: 5px;
    background: rgb(61, 61, 61);
    position: relative;
    cursor: col-resize;
}

.right-pane {
    flex: auto;
    background: #eee;
    height: 100%;
}

.panes-container,
.panes-separator {
    margin: 0;
    padding: 0;
    height: 100%;
}

.exploer-title {
  display: flex;
  background-color: #505050;
  
}

.exploer-title-label {
  /* line-height: 35px; */
  /* position: fixed; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 12px;
  height: 25px;
  background-color: #505050;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.exploer-title-label h2 {
  font-size: 14px;
  padding: 5px;
  cursor: default;
  font-weight: 400;
  -webkit-margin-before: 0; 
  -webkit-margin-after: 0; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.exploer-title-actions {
  flex: 1;
  padding-left: 5px;
  background-color: aqua;
  height: 35px;
  border: 3px solid coral; 
}

.exploer-actions-container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  justify-content: flex-end;
}
.btn-add-folder {
  float: right;
  width: 30px;
  background-color: aliceblue;
}
.exploer-title-actions h2 {
  
  font-size: 14px;
  padding: 5px;
  cursor: default;
  font-weight: 400;
  -webkit-margin-before: 0; 
  -webkit-margin-after: 0; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

 

  